Flask==1.1.2
Flask-Babel==1.0.0
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
Flask-Mail==0.9.1
gunicorn==20.0.4
redis==3.5.3
Flask-SocketIO==4.3.1
eventlet==0.28.0
kombu==5.0.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.0
python-engineio
python-socketio
six==1.15.0
Werkzeug==1.0.1