.dockerignore
Dockerfile
Procfile

.git*

deploy
tests
clients

venv/

multiproc-tmp/*
!multiproc-tmp/.gitkeep 

.vscode/
.vscode/*

__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__

*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc