% % - * -mode: erlang - * -
%
% -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
%
% RabbitMQ Sample Configuration File. %
%
%
% Related doc guide: http: //www.rabbitmq.com/configure.html. See
%
% http: //rabbitmq.com/documentation.html for documentation ToC.
%
% -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
[
    {
        rabbit,
        [
            %% By default, RabbitMQ will listen on all interfaces, using
            %% the standard (reserved) AMQP port.
            %%
            {tcp_listeners, [5673]},

            %%
            %% Default User / VHost
            %% ====================
            %%

            %% On first start RabbitMQ will create a vhost and a user. These
            %% config items control what gets created. See
            %% http://www.rabbitmq.com/access-control.html for further
            %% information about vhosts and access control.
            %%
            {default_vhost,       <<"/">>},
            {default_user,        <<"dev">>},
            {default_pass,        <<"hoovada">>},
            {default_permissions, [<<".*">>, <<".*">>, <<".*">>]}
        ]
    },

    {
        kernel,
        []
    },


    {
        rabbitmq_management,
        [{
            listener,
            [{
                port,
                15673
            }]
        }]
    },

    {
        rabbitmq_shovel,
        [{
                shovels,
                []
            }

        ]
    },

    {
        rabbitmq_stomp,
        []
    },


    {
        rabbitmq_mqtt,
        []
    },

    {
        rabbitmq_amqp1_0,
        []
    },

    {
        rabbitmq_auth_backend_ldap,
        []
    },
    {
        lager,
        []
    }
].
